<template>
  <div class="text-center" style="background: white">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" v-bind:style="{ backgroundImage: 'url(' + 'https://wallpaperstock.net/light-blue-nubes-minimalista-wallpapers_34320_1920x1200.jpg' + ')',backgroundSize: '100%' }">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">¿Quieres aprobar?</h1>
        <p
          class="lead font-weight-normal"
        >¿Estas cansado de no poder entender en que lenguaje criptografico estan escritos los laboratorios que te dejan?</p>
        <a class="btn btn-outline-secondary" v-on:click="saludar"
        >Cura---></a>
        <a
          class="btn btn-outline-secondary"
          v-on:click="counter += 1"
        >Proximamente</a>
        <p>Se ha hecho clic en el botón de cura {{ counter }} veces.</p>
      </div>
    </div>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" v-bind:style="{ backgroundImage: 'url(' + 'https://www.wallpaperup.com/uploads/wallpapers/2012/09/08/13209/1ed14ac8e39f6636252ca4931fbf6c8d.jpg' + ')',backgroundSize: '100%' }">
      <main role="main" class="inner cover">
        <h1 class="cover-heading" v-bind:style="{color: 'white'}">¿Tienes sueño y no sabes que hacer?</h1>
        <p
          class="lead" v-bind:style="{color: 'white'}"
        >Ve y mira un conjunto de imágenes en una cuadrícula con un diseño muy común (rikura) en un sitio web de comercio de ZUKULENCIA.</p>
        <p class="lead">
          <a
            class="btn btn-lg btn-secondary"
          >Seguir Leyendo</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            Esto es una plantilla
            <a href="">Descargada</a>, by
            <a href="">Brucce</a>.
          </p>
        </div>
      </footer>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    saludar: function (event) {
      // `this` dentro de los métodos apunta a la instancia de Vue
      alert('No existe algo asi como una cura!')
      // `evento` es el evento DOM nativo
      if (event) {
        alert("Gaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa")
      }
    }
  },
  data() {
        return {
          counter: 0
        };
    },
}
</script>